<% content_for :head_field do %>
    <h1>Тестовое задание</h1>
    <p class="lead">Данный проект демонстрирует выполнение тестового задания на Ruby On Rails</p>
<% end %>
<div class="jumbotron">
  <h2>Задача:</h2>
  <p>
    Получить список вакансий с сайта http://hh.ru/ сохранив их в базу.

    Организовать поиск вакансий по городам на основе своей базы данных.
  </p>
  <br/>
  <h2>Технические требования:</h2>
  <p>
    Парсинг должен быть организован циклически и вести учет новых и старых вакансий.
    Для тестового задания достаточно 50000 вакансий.
  </p>
</div>

<h2>Описание решения:</h2>
<p>Созданы две модели <a href="#">Area</a> и <a href="#">Vacansy</a>(<a href="#">Миграции</a>).
  Создан фасад для взаимодействия с HH API <a href="#">HHAPIFacad</a>. Для потенциального подмена моком в возможных юнит тестах.</p>