<% content_for :head_field do %>
    <h1>Тестовое задание</h1>
    <p class="lead">Данный проект демонстрирует выполнение тестового задания на Ruby On Rails</p>
<% end %>
<div class="jumbotron">
  <h2>Задача:</h2>
  <p>
    Получить список вакансий с сайта http://hh.ru/ сохранив их в базу.

    Организовать поиск вакансий по городам на основе своей базы данных.
  </p>
  <br/>
  <h2>Технические требования:</h2>
  <p>
    Парсинг должен быть организован циклически и вести учет новых и старых вакансий.
    Для тестового задания достаточно 50000 вакансий.
  </p>
</div>

<h2>Описание решения:</h2>
<p>Созданы две модели
  <a target="_blank" href="https://github.com/ShvedAction/tdhhapi_rails/blob/master/app/models/area.rb">Area</a>
  и <a target="_blank" href="https://github.com/ShvedAction/tdhhapi_rails/blob/master/app/models/vacancy.rb">Vacansy</a>
  (<a target="_blank" href="https://github.com/ShvedAction/tdhhapi_rails/tree/master/db/migrate">Миграции</a>).
  Создан фасад для взаимодействия с HH API
  <a target="_blank" href="https://github.com/ShvedAction/tdhhapi_rails/blob/master/app/models/hhapi_facad.rb">HHAPIFacad</a>.
  Для потенциального подмена моком в возможных юнит тестах.</p>
<p>
  Массовый импорт осуществляется запуском
  <a target="_blank" href="https://github.com/ShvedAction/tdhhapi_rails/blob/master/db/seeds.rb">rake db:seed</a>.
  Импортируются Российские города, и из каждого города импортируется не более 4 страниц вакансий.
</p>
<p>
  Через интерфейс можно импортировать по одной вакансии указав её id.
  (<%= link_to "Здесь", :new_vacancy %>)
</p>
<h2>Демонстрационный стенд:</h2>
<p>
  <a href="https://tdhhapirails.herokuapp.com/">tdhhapirails.herokuapp.com</a>

  Ввиду ограничений бесплатного хостинга на стенде используется база Posgresql, а также вакансий чуть меньше 2000.
  Вакансии могут быть не вовсех городах.
</p>